.App {
  padding: 30px;
  display: flex;
  margin: 100px auto;
  width: 300px;
  border: 2px solid;
  flex-direction: column;
}

.App  div {
  margin-right: 50px;
}


.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
